
body{
background-color: black;
    height: 100vh;
    width: 100vw;
    
}


.navbar ul{

    display: flex;
    border-radius: 30px;
    background-color: rgb(147, 48, 48);
    
}
.navbar ul li {
    list-style: none;
    padding: 5px 50px;
   
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: rgb(24, 22, 22);
}
.mid{

    color: #ece1e1;
    margin: 150px;
    padding: 50px;
    text-align: center;
}